<div class="container">
  <ng-container *ngIf="chart && chart.name">
    {{ chart.name }}
  </ng-container>
  <ngx-charts-line-chart *ngIf="chart"
    [view]="chart.view" 
    [scheme]="chart.colorScheme" 
    [results]="chart.multi" 
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis" 
    [yAxis]="chart.showYAxis" 
    [legend]="chart.showLegend" 
    [showXAxisLabel]="chart.showXAxisLabel" 
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel" 
    [yAxisLabel]="chart.yAxisLabel" 
    [autoScale]="chart.autoScale">
  </ngx-charts-line-chart>
</div>


