<button (click)="train()">TRAIN</button>
<button (click)="predict()">TEST</button>
<button (click)="save()">SAVE</button>
<br>
<br> Json:
<input (change)="onJsonChange($event)" type="file" /> Bin:
<input (change)="onBinChange($event)" name="weights-upload" type="file" />
<button (click)="load()">LOAD</button>
<br>
<br>
<div>
  <app-chart [chart]="lossChart">
  </app-chart>
</div>
<div>
  <app-chart [chart]="accuracyChart">
  </app-chart>
</div>